@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;0,800;1,100;1,200;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -ms-grid;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: #BFD7EA;
  font-family: 'Montserrat', non-serif;
}

main {
  color: #BFD7EA;
  padding: 2rem;
  width: 100%;
}

@media (min-width: 900px) {
  main {
    max-width: calc(3rem + 800px);
    margin: 4rem auto;
  }
}

@media (max-width: 900px) {
  main {
    margin: 20px;
    max-width: calc(100vw - 40px);
  }
}

main > *:not(:last-child) {
  margin-bottom: 2rem;
}

main .pokedex-search {
  background-color: #0B3954;
  padding: 2rem;
  border-radius: 1rem;
}

main .pokedex-search .pokedex-search__description {
  margin-bottom: 1rem;
}

main .pokedex-search__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .pokedex-search__bar .input-findpokemon, main .pokedex-search__bar .btn-findpokemon {
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  border-width: 0px;
}

main .pokedex-search__bar .input-findpokemon {
  outline: none;
  margin-right: 0.5rem;
}

main .pokedex-search__bar .btn-findpokemon {
  background: #BFD7EA;
  color: #0B3954;
  cursor: pointer;
}

main .pokedex-search__bar .btn-findpokemon:hover {
  background: #72a7d1;
}

main .pokedex-search .pokedex-search__error-id, main .pokedex-search .pokedex-search__error-name {
  display: none;
  margin-top: 1rem;
}

main .pokedex {
  display: none;
}

main .pokedex__left-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  background-color: #dc0a2f;
  border-radius: 1rem;
  border: 1px solid #242424;
}

main .pokedex__left-page-top {
  padding: 1rem 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .pokedex__left-page-top > *:not(:last-child) {
  margin-right: 0.5rem;
}

main .pokedex__left-page-top .pokedex__big-btn-blue {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0ebcd4;
  border: 2px solid #BFD7EA;
}

main .pokedex__left-page-top .pokedex__btn-red {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #dc0a2f;
  border: 1px solid #BFD7EA;
}

main .pokedex__left-page-top .pokedex__btn-yellow {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #e1ec5f;
  border: 1px solid #BFD7EA;
}

main .pokedex__left-page-top .pokedex__btn-green {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #46fd00;
  border: 1px solid #BFD7EA;
}

main .pokedex__left-page-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .pokedex__left-page-middle .pokedex__img-container {
  background: #dedede;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

main .pokedex__left-page-middle .pokedex__img-container-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .pokedex__left-page-middle .pokedex__img-container-top .pokedex__dot-container {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .pokedex__left-page-middle .pokedex__img-container-top .pokedex__dot-container span {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #dc0a2f;
}

main .pokedex__left-page-middle .pokedex__img-container-content {
  background: #242424;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  padding: 2rem;
}

main .pokedex__left-page-middle .pokedex__img-container-content img {
  width: 150px;
  height: auto;
}

main .pokedex__left-page-middle .pokedex__img-container-bottom {
  padding: 0.5rem 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .pokedex__left-page-middle .pokedex__img-container-bottom .pokedex__red-btn {
  width: 20px;
  height: 20px;
  background-color: #dc0a2f;
  border-radius: 50%;
}

main .pokedex__left-page-middle .pokedex__img-container-bottom .pokedex__bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .pokedex__left-page-middle .pokedex__img-container-bottom .pokedex__bars span {
  width: 30px;
  height: 3px;
  background-color: #242424;
}

main .pokedex__left-page-middle .pokedex__img-container-bottom .pokedex__bars span:not(:last-child) {
  margin-bottom: 3px;
}

main .pokedex__left-page-middle .pokedex__img-container::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  -webkit-transform: rotate(53deg);
          transform: rotate(53deg);
  background-color: #dc0a2f;
  left: -24px;
  bottom: -17px;
}

main .pokedex__left-page-bottom {
  padding: 1rem 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}

main .pokedex__left-page-bottom-left {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .pokedex__left-page-bottom-left .pokedex__black-btn {
  width: 40px;
  height: 40px;
  background-color: #242424;
  border-radius: 50%;
  display: block;
}

main .pokedex__left-page-bottom-middle {
  width: calc(50% - 4rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  width: 40%;
}

main .pokedex__left-page-bottom-middle span {
  width: calc(50% - 0.5rem);
  height: 8px;
  display: block;
}

main .pokedex__left-page-bottom-middle .pokedex__green-btn {
  background-color: #46fd00;
}

main .pokedex__left-page-bottom-middle .pokedex__orange-btn {
  background-color: #fe6600;
}

main .pokedex__left-page-bottom-middle .pokedex__index {
  width: 100%;
  padding: 0.7rem 1rem;
  font-size: 2rem;
  background-color: #dedede;
  color: #242424;
  text-align: center;
  font-weight: 700;
}

main .pokedex__left-page-bottom .pokedex__controller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .pokedex__left-page-bottom .pokedex__controller span {
  width: 15px;
  height: 60px;
  background-color: #242424;
}

main .pokedex__left-page-bottom .pokedex__controller span:nth-child(2) {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-left: -15px;
}

main .pokedex__left-page .pokedex__attack {
  padding: 1rem 10%;
  text-align: center;
}

main .pokedex__left-page .pokedex__attack p {
  margin-bottom: 1rem;
}

main .pokedex__left-page .pokedex__attack ul {
  display: none;
  background-color: #BFD7EA;
  color: #242424;
  padding: 0 0.5rem;
  border-radius: 5px;
  list-style: none;
}

main .pokedex__left-page .pokedex__attack ul li {
  padding: 0.5rem 0;
}

main .pokedex__left-page .pokedex__attack ul li:not(:last-child) {
  border-bottom: 1px solid #333;
}

main .pokedex__right-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  background-color: #dc0a2f;
  border-radius: 1rem;
  padding: 2rem 10%;
  gap: 3rem;
  border: 1px solid #242424;
}

main .pokedex__right-page .pokedex__moves {
  background-color: #242424;
  padding: 1rem;
  border-radius: 5px;
}

main .pokedex__right-page .pokedex__moves h3 {
  margin-bottom: 0.5rem;
}

main .pokedex__right-page .pokedex__moves p {
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

main .pokedex__right-page .pokedex__moves ul {
  list-style-type: none;
}

main .pokedex__right-page .pokedex__moves ul li {
  padding-left: 0.7rem;
  position: relative;
}

main .pokedex__right-page .pokedex__moves ul li:not(:last-child) {
  margin-bottom: 0.3rem;
}

main .pokedex__right-page .pokedex__moves ul li.selected {
  cursor: pointer;
}

main .pokedex__right-page .pokedex__moves ul li.selected::before {
  content: ">";
  position: absolute;
  left: -5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
          animation: blink-animation 1s steps(5, start) infinite;
}

main .pokedex__right-page .pokedex__previous-evolution {
  background-color: #dedede;
  color: #242424;
  text-align: center;
  padding: 1rem;
  border-radius: 5px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
/*# sourceMappingURL=style.css.map */